*{
	margin: 0;
	padding:0;
}
.container{
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,rgb(238 130 238),rgb(75 0 130),rgb(0 0 255),rgb(0 128 0),rgb(255 255 0),rgb(255 165 0),rgb(255 0 0) );
}
.box{
    height: 51vh;
    width: 16%;
    background-color: rgb(0 196 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bix{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7vh;
}
#box1{
	color: rgb(255 255 255);
    font-size: 1.6rem;
    padding: 5px;
}
#box2{
	color: rgb(255 255 255);
    font-size: 1.2rem;
}
.img{
	background-color: rgb(0 196 255);
	display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 2vh;
}
.img img{
        height: 20vh;
    }

@media only screen and (max-width: 1482px){
    .box{
        width: 43vh;
    }
}
@media (min-width: 0px) and (max-width: 315px){
    .box{
        background: transparent; 
    }

    #box1{
       font-size: 1rem; 
    }

    .img img{
        height: 15vh;
    }

    .img{
        background: transparent;
    }
}
@media only screen and (max-width: 300px){
    .box{
        width: 20vh;
    }
}